body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color:#E65100;
 
}

main{
  min-height:80vh;
}

/* styling for EventCard */

.cardImage {
  width: 100%;
  height: 145px;
}
.venue{
  font-size: 12px;
}
.button{
  position: absolute;
  right: 30%;
  bottom: 19px;
}
.timings{
  font-size: 12px;
  color:rgb(15, 15, 176);
}
.price{
  font-size: 15px;
}
.rounded{
  box-shadow: 0px 0px 5px 5px #d2d0d0;
  height: 432px;
}

/*Styling for eventScreen*/
.description{
  font-size: 13px;
  margin-top: 10px;
}
.addtocart{
  text-align: center;
}
.drop{
  width: 78px;
  margin-left: -58px;
}
.priceinAddtoCart{
  margin-left: -58px;
}
.EveScrnHeadings{
  font-weight: bold;
}
.eventScreenImg{
height: 200px;
width:100%;
}
.eventScreendetails{
  margin-top: -15px;
}

/* styling for homeScreen */
.categories{
  margin-top: 20px;
  margin-bottom: 58px
}
.catButton{
  margin-right: 28px;
  width:150px
}
.searchIcon{
  height: 35px;
  margin-bottom: 5px;
  margin-left: -22px;
  border-radius: 0px 5px 5px 0px;

}
.searchInputs{
  margin-left: 32px;
  width: 305px;
  height: 35px;
  border-radius:5px 0px 0px 5px ;
  border: 1px solid black;
}
.Footer{
  font-size: 10px;
}


/* create Event Styling */
.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form{
  text-align: left;
  margin:5%;
}

.createEventHeading{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular',  sans-serif;
  color:#100f0f
}

.submitBtn{
  background-color:#d1cac7;
  color:rgb(13, 12, 12);
  font-size: 20px;
  text-align: center;
  margin-left:50%;
  
}
.submitBtn:hover{
  background-color:#c0bab7; 
  color:rgb(13, 12, 12);
  transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);

}
.textArea{
  width:100%
}

.drop{
  margin-left:20px;
  height:40px;
  width:30%;
}

.image{
  margin-left:20px;
  margin-top:20px;
}

.error{
  font-size: 17px;
  color: #E65100;
  text-align: center;
}

.success{
  font-size: 20px;
  color:green;
  text-align: center;
}

.label{
  font-weight:600;
}
/* End of create Event Styling */

/* Cart Screen Styling */
.cartScreenImage{
  height:250px;
  width: 100%;
}
.checkoutBox{
  margin-top: 10px;
}
.EventsInCart{
  margin-top:10px
}
.shoppingCart{
  margin-top: 20px;
  margin-left: 18px;
}
/* End of Cart Screen Styling */


/* PlaceOrder Screen Styling */
.placeOrderScreenImages{
  height:250px;
  margin-left: -12px;
  width:100%;
}
.paymentMethod{
  font-weight: bold;
  font-size: 20px;
}
.orderItems{
  /* text-align: center; */
  margin-bottom: 20px;
}
.orderSummary{
  text-align:center
}
/* End of PlaceOrder Screen Styling */


/* orderScreen Screen Styling */
.orderScreenImages{
  height:250px;
  width:100%;
}
.orderScreenSummary{
  text-align:center;
  margin-top: 15px;
}
/* End of orderScreen Screen Styling */

/* paymentScreen */
.continueBtn{
  margin-top: 10px;
}

/*profile Screen styling*/
.updateBtn{
  margin-top: 10px;
}
.ordersList{
  text-align: center;
}
